@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Peralta&display=swap');

html, body {
    height: 100%;
    overflow: hidden;
    margin:0;
    padding:0;
}


/* ------------------------------------------------ Page Header */

.spacer {
    background-color: rgb(185, 220, 38);
    width: 100%;
    height: auto;
}

.game-field {
    background-image: url(../images/sheep-field1.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: rgb(185, 220, 38);
}

.page-header {
    font-family: 'Peralta', cursive;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

/* ------------------------------------------------ Game Area */

.game-area {
    width: 95%;
    max-width: 1300px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #A52A2A;
    border-radius: 10%;
}

/* ------------------------------------------------ Welcome */

.welcome-container {
    width: 90%;
    height: auto;
    display: table;
}

.welcome {
    width: 80%;
    padding: 1rem;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}

/* ------------------------------------------------ Scores Area */

.scores-area {
    font-family: 'Otomanopee One', sans-serif;
    width: 95%;
    max-width: 850px;
    margin: 10px auto;
}

#timer-box {
    font-family: 'Peralta', cursive;
    font-size: 1.5rem;
    background-color: white;
}

.timer {
    display: inline-block;
}

.guess {
    float: right;
}

.guess button {
    margin-bottom: 5px;
}

#guess-box {
    width: 85px;
    height: 38px;
}

.scores {
    margin-top: 30px;
    text-align: center;
}

.scores p {
    display: inline-block;
    padding-left: 30px;
}

/* ------------------------------------------------ Media Queries */

@media screen and (min-width: 425px) {
    h2 {
        font-size: 2rem;
    }

    .scores-area {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    h2 {
        font-size: 4rem;
    }

    .scores-area {
        width: 75%;
    }
}

@media screen and (min-width: 1024px) {
    .scores-area {
        width: 70%;
    }
}

@media screen and (min-width: 1440px) {
}